{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "Components": "./src/components",
        "Common": "./src/components/common",
        "State": "./src/state",
        "Styles": "./src/styles"
      }
    }]
  ]
}